apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: events-consumer
  labels:
    sa-telemetry-app: events-consumer
spec:
  selector:
    matchLabels:
      sa-telemetry-app: events-consumer
  namespaceSelector:
    matchNames:
    - {{ sa_telemetry_consumers_namespace }}
  endpoints:
  - port: events-consumer
    interval: 4s
