apiVersion: v1
kind: ConfigMap
metadata:
  name: events-config
data:
  sa.events.config.json: |+
    {
            "AMQP1EventURL": "messaging-internal.sa-telemetry.svc:5672/collectd/notify",
            "ElasticHostURL": "http://elasticsearch.sa-telemetry.svc:9200",
            "RestIndex": false
    }
